<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Mon Panier</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card *ngFor="let product of cart">
    <ion-card-header>
      <ion-card-title>{{ product.name }}</ion-card-title>
      <ion-card-subtitle>{{ product.price | currency:'EUR' }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>{{ product.description }}</p>
      <ion-button color="danger" expand="block" (click)="removeItem(product)">
        Retirer
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-item *ngIf="cart.length === 0">
    <ion-label>Aucun produit dans le panier.</ion-label>
  </ion-item>
</ion-content>
